<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.camil.detectnalert">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseActivity"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewAccountActivity"
            android:label="NewAccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyAccountActivity"
            android:label="MyAccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PostDetailActivity"
            android:label="PostDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlertActivity"
            android:label="@string/title_activity_alert"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HistoricActivity"
            android:label="@string/title_activity_historic"
            android:theme="@style/AppTheme.NoActionBar" />
        <service android:name=".Notification">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".WeightActivity"></activity>
    </application>

</manifest>
